.admin__course {
  position: relative;
  width: 100%;
  padding: 30px;
  .container {
    display: flex;
    padding: 50px 30px;
    border-radius: 10px;
    background: white;
    flex-direction: column;
    h2 {
      font-size: 30px;
      color: #0c549c;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 5px;
        border-radius: 50px;
        left: 0;
        bottom: -10px;
        background: $linner-blue;
      }
    }
  }

  .message {
    position: fixed;
    top: 90px;
    right: 0;
    width: 250px;
    height: 80px;
    background: white;
    @include flex-center;
    &.success {
      border-left: 2px solid #3acc20;
      p {
        color: #3acc20;
      }
    }
    &.fail {
      border-left: 2px solid red;
      p {
        color: red;
      }
    }
    p {
      font-size: 20px;
    }
  }

  &-list {
    display: flex;
    width: 100%;
    position: relative;
    gap: 50px 0;
    flex-direction: column;

    .table {
      position: relative;
      width: 100%;
      background: white;
      border-radius: 5px;
      border-collapse: collapse;
      overflow: hidden;
      border: none;

      thead {
        background: $linner-blue;
        th {
          color: white;
          font-size: 16px;
          padding: 10px;
          border: none;
          text-align: center;
        }
        th {
          font-size: 18px;
        }
        .title-id {
          width: 50px;
        }
        .title-name {
          width: 200px;
        }
        .title-tag {
          width: 150px;
        }
        .title-number {
          width: 100px;
        }
        .title-img {
          width: 250px;
        }
        .title-update,
        .title-delete,
        .title-detail {
          width: 80px;
        }
      }

      tbody {
        tr {
          height: 100px;
        }
        td {
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          padding: 10px;
          text-align: left;
          vertical-align: top;
          .img {
            position: relative;
            width: 250px;
            height: 100px;
            background: $blue;
            margin: 0 auto;
            overflow: hidden;
            img {
              position: absolute;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .number,
        .name,
        .tag,
        .id {
          font-weight: 600;
          color: $black;
          font-size: 18px;
          text-align: center;
        }
        .detail > a {
          color: royalblue;
        }
        .update > a {
          color: seagreen;
        }
        .delete > a {
          color: red;
        }
        .detail,
        .update,
        .delete {
          text-align: center;
          font-size: 25px;
        }
      }
    }
    .pagination {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .list-btn {
        display: flex;
        gap: 0 10px;
        align-items: center;
        .btn-prev,
        .btn-next {
          padding: 5px 20px;
          border-radius: 5px;
          background: white;
          font-size: 16px;
          color: gray;
          border: 1px solid rgba(0, 0, 0, 0.2);
          transition: 0.5s;
          &:hover {
            background: $linner-blue;
            color: white;
            border: none;
          }
        }
        button {
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 5px 10px;
          font-size: 16px;
          font-weight: 600;
          color: royalblue;
          background: white;
        }
      }
    }
  }
  &-add {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    width: 100%;
    .form {
      position: relative;
      width: 100%;
      gap: 0 50px;
      display: flex;
      .label {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        p {
          color: $black;
          font: {
            size: 20px;
            weight: 600;
          }
        }

        input[type="text"] {
          width: 300px;
          padding: 15px;
          font-size: 16px;
          color: gray;
          background: white;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .current-img {
          width: 300px;
          height: 150px;
          border-radius: 5px;
          background: $blue;
          position: relative;
          overflow: hidden;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .course-img {
          width: 200px;
          padding: 15px;
          font-size: 18px;
          color: white;
          background: $linner-blue;
          border-radius: 10px;
          align-items: center;
          flex-direction: row;
          justify-content: center;
          cursor: pointer;
          i {
            font-size: 20px;
            margin-right: 10px;
          }
        }
        input[type="file"] {
          display: none;
        }

        textarea {
          width: 600px;
          height: 200px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 18px;
          padding: 15px;
          color: gray;
        }
        .list-tag {
          display: flex;
          align-items: center;
          gap: 10px 15px;
          flex-wrap: wrap;
          input {
            display: none;
          }
          label {
            padding: 10px 25px;
            border-radius: 50px;
            background: white;
            color: gray;
            border: 1px solid rgba(0, 0, 0, 0.2);
            cursor: pointer;
          }

          input:checked + label {
            background: $linner-blue;
            color: white;
            border: none;
          }
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        width: 400px;
      }
      &-right {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        input[type="submit"] {
          padding: 15px;
          width: 150px;
          background: $linner-blue;
          color: white;
          align-self: flex-end;
          border: none;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
  &-lesson {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    .list-course {
      display: flex;
      flex-direction: column;
      width: 100%;
      .head {
        width: 100%;
        display: flex;
        padding: 10px 0;
        background: $linner-blue;
        border-radius: 10px 10px 0 0;
        &-id {
          width: 80px;
          color: white;
          padding: 0 10px;
          font: {
            size: 18px;
            weight: 600;
          }
        }
        &-name {
          color: white;
          padding: 0 10px;
          font: {
            size: 18px;
            weight: 600;
          }
        }
      }
      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        .item {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: white;
          &:last-child {
            border: none;
            border-radius: 0 0 10px 10px;
          }
          .top {
            display: flex;
            padding: 10px 0;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            .detail {
              display: flex;
              .id {
                width: 80px;
                padding: 0 10px;
                font-size: 16px;
                color: gray;
              }
              .name {
                padding: 0 10px;
                font-size: 16px;
                font-weight: 600;
                color: $black;
              }
            }
            .btn {
              display: flex;
              align-items: center;
              gap: 0 10px;
              &-drop {
                font-size: 25px;
                cursor: pointer;
                transition: 0.3s;
                color: royalblue;
              }
              &-add {
                width: 40px;
                height: 40px;
                @include flex-center;
                border-radius: 50%;
                font-size: 20px;
                margin-right: 30px;
                transition: 1s;
                background: $linner-blue;
                color: white;
              }
            }
          }
          .bottom {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 0;
            overflow-y: hidden;
            transition: 0.5s;
            &.active {
              height: auto;
            }
            .lesson {
              padding: 5px 80px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid rgba(0, 0, 0, 0.1);
              background: rgba(0, 0, 0, 0.02);

              &-name {
                font-size: 16px;
                color: #304e6d;
                font-weight: 500;
              }
              .action {
                display: flex;
                align-items: center;
                gap: 0 15px;
                .btn-update {
                  font-size: 20px;
                  color: #11c087;
                }
                .btn-delete {
                  font-size: 20px;
                  color: red;
                }
              }
            }
          }
        }
      }
    }
  }
  &-addlesson {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 50px 0;
    .form {
      display: flex;
      width: 100%;
      position: relative;
      gap: 0 30px;
      &-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        .label {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          p {
            font: {
              size: 20px;
              weight: 600;
            }
            color: $black;
          }
          input {
            width: 100%;
            border-radius: 5px;
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: gray;
            font-size: 16px;
          }
        }
        input[type="submit"] {
          padding: 15px 55px;
          background: $linner-blue;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font: {
            size: 18px;
            weight: 600;
          }
          align-self: flex-start;
        }
      }
      &-right {
        display: flex;
        position: relative;
        width: 50%;
        flex-direction: column;
        gap: 20px 0;
        .label {
          input[type="file"] {
            display: none;
          }
          label {
            padding: 15px;
            border-radius: 5px;
            background: $linner-blue;
            color: white;
            cursor: pointer;
            align-self: flex-start;
            font: {
              size: 16px;
              weight: 600;
            }
            i {
              margin-right: 10px;
            }
          }
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          p {
            font: {
              size: 20px;
              weight: 600;
            }
            color: $black;
          }

          input[type="text"] {
            width: 100%;
            border-radius: 5px;
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: gray;
            font-size: 16px;
          }
        }
      }
    }
  }
  &-detail {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    position: relative;
    &-main {
      display: flex;
      justify-content: space-between;
      position: relative;
      .cover {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        p {
          font: {
            size: 20px;
            weight: 600;
          }
          color: $black;
        }
        .img {
          width: 400px;
          height: 200px;
          position: relative;
          overflow: hidden;
          background: $blue;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
          }
        }
        .cate {
          padding: 10px 30px;
          border-radius: 50px;
          background: $linner-blue;
          align-self: flex-start;
          font: {
            size: 18px;
            weight: 600;
          }
          color: white;
        }
        .dsc {
          width: 100%;
          font-size: 16px;
          color: gray;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        width: 50%;
        padding-right: 10px;
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        align-items: center;
        width: 50%;
        padding-left: 10px;
        p {
          font: {
            size: 20px;
            weight: 600;
          }
          color: $black;
        }
        .list-lesson {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          width: 100%;
          li {
            position: relative;
            padding: 10px;
            width: 100%;
            background: white;
            color: $black;
            border-radius: 5px;
            cursor: pointer;
            font: {
              size: 18px;
              weight: 600;
            }
            &:hover > a {
              opacity: 1;
              visibility: visible;
            }
            a {
              position: absolute;
              color: red;
              transition: 0.5s;
              opacity: 0;
              visibility: visible;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
