.courses {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .container {
    flex-direction: column;
    gap: 50px 0;
    padding: 50px 50px 0 50px;
  }
  .list-courses {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    $img-width: 270px;
    .course-item {
      display: flex;
      flex-direction: column;
      width: $img-width;
      gap: 10px 0;
      .img {
        position: relative;
        width: $img-width;
        height: 150px;
        border-radius: 15px;
        overflow: hidden;
        background: $blue;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
        }
      }

      .name {
        font: {
          size: 20px;
          weight: 600;
        }
        word-break: break-all;
        color: $black;
      }

      .user-count {
        display: flex;
        align-items: center;
        i {
          font-size: 18px;
          color: gray;
          margin-right: 5px;
        }
        span {
          font-size: 16px;
          color: gray;
        }
      }
    }
  }

  &__signed,
  &__basic,
  &__front-end,
  &__back-end {
    position: relative;
    width: 100%;
  }
  &__back-end {
    .container {
      padding: 50px;
    }
  }

  &__detail {
    position: relative;
    width: 100%;
    .container {
      padding: 50px;
      flex-direction: row;
      justify-content: space-between;
    }
    &-left {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 36px;
        color: $black;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 24px;
      }
      .dsc {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        margin-bottom: 50px;
      }
      .content {
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 20px;
        }
        .list {
          display: flex;
          position: relative;
          width: 100%;
          flex-direction: column;
          gap: 10px 0;
          .item {
            width: 100%;
            padding: 15px;
            font: {
              size: 18px;
              weight: 600;
            }
            color: $black;
            border-radius: 5px;
            background: whitesmoke;
            transition: 0.5s;
            &:hover {
              background: rgb(153, 216, 253);
            }
          }
        }
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      align-items: center;
      .img {
        width: 350px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        background: $blue;
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .btn-sign {
        padding: 15px 20px;
        border-radius: 5px;
        background: $orange;
        color: white;
        cursor: pointer;
        font: {
          size: 18px;
          weight: 600;
        }
      }
      .detail {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        align-items: center;
        li {
          font: {
            size: 16px;
            weight: 600;
          }
          color: $black;
        }
      }
    }
    .alert-login {
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      background: rgba(0, 0, 0, 0.2);
      height: 100vh;
      @include flex_center;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      .box {
        @include flex_center_col;
        gap: 15px 0;
        padding: 15px 30px;
        border-radius: 10px;
        background: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        .img {
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .btn-close-alert {
          position: absolute;
          top: 10px;
          right: 15px;
          font-size: 20px;
          color: gray;
          cursor: pointer;
        }
        p {
          font: {
            size: 20px;
            weight: 600;
          }
          color: #34348a;
        }
        a {
          padding: 10px 25px;
          font: {
            size: 18px;
            weight: 600;
          }
          color: white;
          background: $orange;
          border-radius: 5px;
        }
      }
    }
  }

  &__lesson {
    position: relative;
    width: 100%;
    .container {
      flex-direction: row;
      padding: 0;
    }
    &-left {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px 0;
      width: 75%;

      .frame {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .video {
          width: 100%;
          height: 600px;
          iframe {
            width: 100%;
            height: 100%;
          }
        }
        .btn-active {
          display: none;
        }
      }
      .comment {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        h2 {
          font: {
            size: 26px;
            weight: 700;
          }
          color: $black;
          margin-bottom: 20px;
        }
        &-form {
          display: flex;
          align-items: flex-start;
          gap: 0 10px;
          padding: 30px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          .user-avt {
            display: flex;
            gap: 0 10px;
            align-items: center;
            .avt {
              width: 50px;
              height: 50px;
              position: relative;
              border-radius: 50%;
              overflow: hidden;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .form {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            gap: 0 10px;

            textarea {
              width: 100%;
              height: 50px;
              border: none;
              background: white;
              color: $black;
              border-radius: 50px;
              padding: 15px;
              font-size: 15px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              &::-webkit-scrollbar {
                display: none;
              }
            }
            input {
              border: none;
              cursor: pointer;
              padding: 10px 50px;
              font: {
                size: 18px;
                weight: 600;
              }
              color: white;
              background: $orange;
              border-radius: 50px;
            }
          }
        }
        &-list {
          display: flex;
          flex-direction: column;
          gap: 25px 0;
          width: 100%;
          padding: 20px 0 50px 0;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          .item {
            width: 100%;
            display: flex;
            gap: 0 10px;
            .avt {
              position: relative;
              width: 40px;
              height: 40px;
              overflow: hidden;
              border-radius: 50%;
              background: $orange;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .detail {
              display: flex;
              flex-direction: column;
              gap: 5px 0;
              width: calc(100% - 50px);
              .fullname {
                font: {
                  size: 16px;
                  weight: 600;
                }
                color: $black;
              }
              .content {
                font-size: 16px;
                color: gray;
              }
            }
          }
        }
        &-none {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px 0;
          justify-content: center;
          align-items: center;
          padding: 30px 0;
          .img {
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              position: absolute;
              object-fit: cover;
            }
          }
          p {
            font: {
              size: 18px;
              weight: 600;
            }
            color: $black;
          }
        }
      }
    }

    &-right {
      width: 25%;
      height: 100vh;
      position: sticky;
      top: 70px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      background: whitesmoke;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      h2 {
        padding: 15px;
        font-size: 26px;
        color: $black;
      }
      .list-lesson {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        gap: 5px 0;
        padding-bottom: 50px;
        .lesson {
          position: relative;
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          &.active {
            .lesson-title {
              color: $black;
              &::after {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                background: coral;
                top: 0;
                left: 0;
              }
            }
          }
          &.unlock {
            border: none;
            a {
              background: white;
              &:hover {
                background: rgba(252, 208, 193, 0.5);
              }
            }
            span {
              .fa-lock {
                display: none;
              }
              .fa-play-circle {
                display: block;
              }
            }
            .disable-bg {
              display: none;
            }
            .quiz {
              a {
                background: white;
                &:hover {
                  background: rgba(252, 208, 193, 0.5);
                }
              }
            }
          }
          .lesson-title {
            position: relative;
            padding: 15px;
            font: {
              size: 16px;
              weight: 600;
            }
            color: gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              .fa-play-circle {
                font-size: 20px;
                color: coral;
                display: none;
              }
              .fa-lock {
                font-size: 20px;
                color: gray;
              }
            }
          }
          .quiz {
            width: 100%;
            display: flex;
            gap: 0 15px;
            padding: 10px 15px;
            .num-quiz {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              @include flex_center;
              color: $black;
              background: #d6d6d6;
              &.done {
                background: #1cb760;
                color: white;
                &:hover {
                  background: seagreen;
                }
              }
            }
          }
        }
        .disable-bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  &__quiz {
    position: relative;
    width: 100%;
    background: whitesmoke;
    height: calc(100vh - 70px);
    .container {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px 0;
      .question {
        font: {
          size: 26px;
          weight: 600;
        }
        color: $black;
        line-height: 26px;
      }
      .list-answer {
        width: 100%;
        position: relative;
        form {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px 0;
          .list {
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px 0;
            label {
              width: 300px;
              padding: 15px;
              border-radius: 10px;
              background: white;
              cursor: pointer;
              color: $black;
              transition: 0.5s;
              font: {
                size: 16px;
                weight: 600;
              }
              &:hover {
                background: rgba(247, 164, 134, 0.507);
              }
            }
            input {
              display: none;
            }
            input:checked + label {
              background: coral;
              color: white;
            }
          }
          .btn-send {
            padding: 15px 35px;
            font-size: 18px;
            font-weight: 600;
            color: white;
            background: $orange;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            align-self: flex-start;
          }
        }
      }
    }
    .alert-mess {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 100;
      @include flex_center;
      .box {
        padding: 30px;
        background: white;
        border-radius: 10px;
        .alert {
          @include flex_center_col;
          gap: 20px 0;
          .circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            @include flex_center;
            &.correct {
              border: 2px solid #1cb760;
              box-shadow: 0 0 20px 1px #1cb75f73;
              i {
                font-size: 70px;
                color: #1cb760;
              }
            }
            &.wrong {
              border: 2px solid red;
              box-shadow: 0 0 20px 1px rgba(255, 0, 0, 0.459);
              i {
                font-size: 70px;
                color: red;
              }
            }
          }
          p {
            display: flex;
            gap: 0 10px;
            align-items: center;
            font: {
              size: 20px;
              weight: 600;
            }
            color: #34348a;

            img {
              width: 30px;
              height: 30px;
            }
          }
          a {
            padding: 10px 25px;
            color: white;
            background: $orange;
            cursor: pointer;
            border-radius: 5px;
            font: {
              size: 16px;
              weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .courses {
    .container {
      padding: 30px 30px 0 30px;
      gap: 30px 0;
    }
    .list-courses {
      .course-item {
        width: 100%;
        .img {
          width: 100%;
          height: 200px;
        }
        .name {
          font-size: 16px;
        }
        .user-count {
          i {
            font-size: 14px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }

    &__detail {
      .container {
        padding: 15px;
        flex-direction: column;
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 20px;
        }
      }
      &-left {
        width: 100%;
        .dsc {
          gap: 10px 0;
          margin-bottom: 30px;
          span {
            font-size: 14px;
          }
        }
        .content {
          .list {
            .item {
              font-size: 14px;
            }
          }
        }
      }
      &-right {
        gap: 10px 0;
        .img {
          width: 100%;
        }
        .btn-sign {
          padding: 10px 15px;
          font-size: 14px;
        }
        .detail {
          li {
            font-size: 12px;
          }
        }
      }
    }
    &__lesson {
      .container {
        position: relative;
        padding: 15px;
        min-height: 100vh;
        gap: 30px 0;
        overflow-x: hidden;
      }
      &-left {
        width: 100%;
        gap: 30px 0;
        .frame {
          .video {
            height: 200px;
          }
          .btn-active {
            display: block;
            align-self: flex-start;
            font-size: 14px;
            color: $black;
            margin-top: 10px;
          }
        }
        .comment {
          padding: 0;
          h2 {
            font-size: 22px;
          }
          &-form {
            padding: 15px 0;
            .user-avt {
              .avt {
                width: 40px;
                height: 40px;
              }
            }
            .form {
              textarea {
                width: calc(100% - 50px);
                height: 40px;
                padding: 5px 10px;
                font-size: 12px;
              }
              input {
                padding: 10px 15px;
                font-size: 14px;
              }
            }
          }
          &-list {
            gap: 15px 0;
            .item {
              .avt {
                width: 30px;
                height: 30px;
              }
              .detail {
                gap: 0;
                .fullname,
                .content {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      &-right {
        position: absolute;
        top: 0;
        right: -100%;
        transition: 0.5s;
        width: 60%;
        &.active {
          right: 0;
        }
        h2 {
          padding: 10px;
          font-size: 22px;
        }
        .list-lesson {
          .lesson {
            .lesson-title {
              padding: 10px;
              font-size: 12px;
            }
            .quiz {
              gap: 0 10px;
              padding: 5px 10px;
              .num-quiz {
                width: 20px;
                height: 20px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
