.footer {
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1660px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .col-1 {
      display: flex;
      flex-direction: column;
      gap: 5px 0;
    }
    &-logo {
      display: flex;
      align-items: center;
      gap: 0 10px;
      .img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background: $orange;
        overflow: hidden;
        img {
          position: absolute;
          width: 80%;
          height: 80%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
      .text {
        font: {
          size: 25px;
          weight: 600;
        }
        @include text_color;
      }
    }
    &-text {
      font-size: 16px;
      color: gray;
    }
    &-media {
      ul {
        display: flex;
        align-items: center;
        gap: 0 10px;
        li {
          a {
            font-size: 25px;
            color: gray;
            transition: 0.5s;
            &:hover {
              color: coral;
            }
          }
        }
      }
    }
  }
  &__bottom {
    @include flex_center;
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
    color: gray;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
  }
}
