$orange: linear-gradient(315deg, #ff4d00, #f9ab14);
$light-blue: linear-gradient(315deg, #00ffe0, #5ac3ff);
$blue: #41b9ed;

@mixin title-font($size) {
  font: {
    size: $size;
    weight: bold;
  }
  @include text-color();
}

@mixin text-color {
  background: -webkit-linear-gradient(315deg, #ff4d00, #f9ab14);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
